* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-hover {
    pointer-events: none;
    cursor: default;
}


body {
    background-color: #111214 !important;
    font-family: Arial, sans-serif;
}


/* NAVBAR */

.navbar {
    background-color: #1A1B1F !important;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    font-family: 'Big Shoulders Inline Display', sans-serif;
    font-size: 65px;
    color: white !important;
}

.nav-item {
    display: flex;
    align-items: center;
    color: #00FFFF !important;
    font-family: 'Poppins', sans-serif;
}

.nav-link {
    font-weight: 300;
    font-size: 15px;
    text-align: center !important;
}

.nav-subtitle {
    text-decoration: none;
    font-weight: 100;
    font-size: 20px;
    text-align: left;
    color: white;
}

.icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #00FFFF;
}

.icon-text img {
    width: 45px;
    height: auto;
    margin-bottom: 5px;
}

.navbar-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-elements .left-side {
    display: flex;
    align-items: center;
    gap: 0px;
}

.navbar-elements .right-side {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar-brand,
.nav-subtitle {
    pointer-events: none;
    cursor: default;
}

/* MODAL BOTONES NAVBAR */

.navbar-modal .modal {
    display: none;
    position: fixed;
    /* z-index: 1; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-modal .modal-content {
    position: relative;
    margin: 5% auto;
    /* padding: 20px; */
    width: 70%;
    background-color: #333;
    color: white;
    display: flex;
    /* flex-direction: row;  */
    justify-content: space-between;
}

.navbar-modal .modal-header {
    background-color: #1A1B1F;
    border-bottom: transparent;
}

.navbar-modal .btn-close {
    filter: invert(1);
    background-color: transparent;
    border: none;
}

.navbar-modal .modal-body {
    padding: 0;
}

.navbar-modal .modal-image {
    width: 100%;
    object-fit: cover;
}

/* MAPA */


svg path {
    cursor: pointer;
}

.no-hover {
    pointer-events: none;
    cursor: default;
}

.map-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    background-color: #111214;
}

/* Estilos generales del modal */
.svg-modal .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.svg-modal .modal-content {
    position: relative;
    margin: 5% auto;
    width: 70%;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
}

/* Botón de cierre */
.svg-modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    cursor: pointer;
}

/* Estructura dividida: video y texto a la izquierda y derecha, ocupando el 50% cada uno */
.svg-modal .modal-video, 
.svg-modal .modal-text {
    flex: 1;
    padding: 20px;
}

/* Sección donde el video y el texto comparten espacio al 50% */
.svg-modal .modal-video {
    width: 50%;
    float: left; /* Coloca el video en la parte izquierda */
}

.svg-modal .modal-text {
    width: 50%;
    float: right; /* Coloca el texto en la parte derecha */
}

/* Sección final que ocupa todo el ancho después del video y texto */
.svg-modal .modal-end {
    clear: both; /* Asegura que el contenido debajo no se solape con el contenido anterior */
    width: 100%;
    padding-top: 10px;
    background-color: #222; /* Color de fondo para destacar */
    padding: 20px;
    box-sizing: border-box;
}

.offcanvas {
    background-color: #575A60;
    width: 100%;
}

.offcanvas-title{
    font-family: 'Big Shoulders Inline Display', sans-serif;
    font-size: 50px;
}

.offcanvas-header{
    padding: 0px;
    margin-right: 40px;
}

.offcanvas-body img {
    width: 100%;
    height: auto;
    display: block;
}



/* nose */

/* .modal {
    display: none;
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.modal-content {
    background-color: #1A1B1F;
    border: none;
    margin: 15% auto; 
    padding: 20px;
    width: 80%; 
}


.close {
    color: #aaa;
     float: right; 
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
} */

/* 
 .close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}  */


#allSvg {
    width: 100%;
    /* Para que el mapa use todo el ancho disponible */
    max-width: 1150px;
    /* Mantén el tamaño máximo que deseas */
    margin: 0 auto;
    /* Centra el SVG en su contenedor */
    height: auto;
    /* Mantiene la proporción */
}

#map-text {
    position: absolute;
    /* Posiciona el texto de forma absoluta */
    top: 50%;
    /* Centra verticalmente */
    left: 50%;
    /* Centra horizontalmente */
    transform: translate(-50%, -50%);
    /* Ajusta la posición para centrarlo completamente */
    text-align: center;
    /* Centra el texto */
    color: white;
    /* Color del texto */
    z-index: 10;
    /* Asegúrate de que el texto esté por encima del SVG */
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 35px;
    pointer-events: none;
    cursor: default;
}

.allPaths {
    fill: #232323 !important;
    transition: fill 0.5s ease;
    pointer-events: none;
    cursor: default;


}

.allPaths.color-active {
    fill: #424242 !important;
}

svg {
    width: 100%;
    height: auto;
}


/* LINEA DE TIEMPO */

#marker {
    position: absolute;
    bottom: 0px;
    transition: left 0.3s ease;
    z-index: 10;
}

#marker svg {
    width: 19px;
    height: auto;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    padding: 0px;
}

.timeline {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.timeline-container {
    display: flex;
    background-color: #131416;
    color: white;
}

.tiempo {
    width: 100%;
}

.square {
    width: 260px;
    height: 90px;
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-pause {
    background: none;
    border: none;
    padding: 0;
}

.btn-pause img {
    width: 50px;
    height: auto;
}

.decade {
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 20px;
}

.decade-images {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin: 0px 40px;
}

.decade-gray img {
    filter: grayscale(100%);
    margin-left: 30px;
    margin-right: 30px;
}

.decade-color img {
    filter: grayscale(0%);
    margin-left: 30px;
    margin-right: 30px;
}